<div class="container">
  <div class="room-title">
    <h3 class="title">メニュー一覧</h3>
    <button mat-raised-button color="primary" class="create-btn">新規作成</button>
  </div>

  <table mat-table [dataSource]="menus" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="menu-name">
      <th mat-header-cell *matHeaderCellDef> 料理名 </th>
      <td mat-cell class="menu-name" *matCellDef="let menu"> {{menu.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="menu-btn" *matCellDef="let element">
        <button mat-flat-button color="primary" class="edit">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
