<app-header></app-header>
<div class="container"><div class="menu-title">
  <h1 class="title">お気に入りメニュー</h1>
</div>
<div class="explore-menus">
  <div class="explore-menu" *ngFor="let menu of showMenuList; let i=index">
    <mat-card class="menu-card">
      <mat-card-header>
        <mat-card-title>{{menu.menuname}}</mat-card-title>
        <div class="favorite-icon">
          <mat-icon class="liked" (click)="deleteLike(menu.id, menu.menuname, i)">favorite</mat-icon>
        </div>
      </mat-card-header>
      <mat-card-content routerLink="/menu/{{menu.id}}">
        <div class="image" *ngIf="menu.imageurl!==''">
          <img class="menu-img" src={{menu.imageurl}} alt="menu image" routerLink="/menu/{{menu.id}}">
        </div>
        <div class="ingredient">
          材料：{{menu.ingredientList}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-paginator class="paginator" *ngIf="menuList.length!=0"
              (page)="handlePageEvent($event)"
              [length]="this.menuList.length"
              [pageSize]="15"
              [hidePageSize]="true"
              aria-label="Select page">
</mat-paginator>
</div>
<div class="menu-title" *ngIf="menuList.length==0">
  <h3 class="title">お気に入りのメニューがありません</h3>
</div>
<app-footer></app-footer>
