<app-header></app-header>
<div class="container">
  <div class="menu-title">
    <button mat-icon-button class="back" routerLink="/menu-list">
      <mat-icon>
        arrow_back_ios_new
      </mat-icon>
      戻る
    </button>
    <h3 class="title">{{menu.menuname}}</h3>
  </div>
  <div class="menu-img" *ngIf="menu.imageurl!==''">
    <div class="subtitle">出来上がり例</div>
    <img class="upload-img" src={{menu.imageurl}} alt="">
  </div>
  <div class="subtitle">材料</div>
  <div class="materials">
    <table #materialsTable mat-table [dataSource]="materials" class="mat-elevation-z8">
      <ng-container matColumnDef="ingredient">
        <th mat-header-cell *matHeaderCellDef> 材料 </th>
        <td mat-cell *matCellDef="let material"> {{material.ingredient}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> 分量 </th>
        <td mat-cell *matCellDef="let material"> {{material.quantity}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="table-column" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="subtitle">作り方</div>
  <div class="recipes" *ngFor="let recipe of menu.recipes; index as i">
    <div class="recipe-title">手順{{i + 1}}</div>
    <mat-card class="recipe">
      <mat-card-content>
        <p>{{recipe}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
