<app-header></app-header>
<div class="container">
  <div class="menu-title">
    <button mat-icon-button class="back" routerLink="/menu-list">
      <mat-icon>
        arrow_back_ios_new
      </mat-icon>
      戻る
    </button>
    <h3 class="title">{{menu.menuname}}</h3>
  </div>
  <div class="subtitle">作り方</div>
  <div class="recipes" *ngFor="let recipe of menu.recipes; index as i">
    <div class="recipe-title">手順{{i + 1}}</div>
    <mat-card class="recipe">
      <mat-card-content>
        <p>{{recipe}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
