@use "src/styles/styles";

.container {
  @include styles.container;
  .page-title {
    display: flex;
    align-items: center;
    .back{
      margin-top: 0.7em;
      margin-left: 2em;
    }
    .title{
      margin-top: 1.5em;
      margin-left: 3em;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    .name{
      min-width: 150px;
      max-width: 500px;
      width: 90%;
    }
    .recipe {
      width: 90%;
    }
    .form-title{
      font-size: 1.2em;
      margin-top: 30px;
    }
  }
  .upload-img-form {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    .upload-button {
      margin-top: 30px;
      margin-left: 10px;
    }
  }
  .upload-img {
    border: 2px solid #2f2f2fa9;
    min-width:80%;
    max-width: 90%;
    height: auto;
  }

  .material-form-row {
    display: flex;
    align-items: center;
    width: 90%;

    .ingredient {
      width: 48%;
    }
    .quantity {
        width: 48%;
        margin-left: 4%;
      }
  }

  .button{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    .add {
    margin-left: auto;
    margin-right: 2em;
    }
    .delete {
      margin-right: auto;
    }
  }
  .submit-button{
    margin-top: 2em;
    margin-left: auto;
    display: flex;
    justify-content: center;
  }
}
