<div class="footer">
  <div class="icon-field">
    <a mat-button routerLink="/menu-list">
      <div class="material-icons">restaurant_menu</div>
      <div class="icon-text">メニュー</div>
    </a>
  </div>
  <div class="icon-field">
    <button  mat-button routerLink="/explore-menu">
      <div class="material-icons" >public</div>
      <div class="icon-text">みんなのメニュー</div>
    </button>
  </div>
  <div class="icon-field">
      <button  mat-button routerLink="/like-list">
          <div class="material-icons">favorite</div>
          <div class="icon-text">お気に入り</div>
      </button>
  </div>
</div>
