::ng-deep mat-dialog-container{
  background-color: transparent !important;
}

::ng-deep .cdk-overlay-plane{
  background-color: transparent !important;
}

::ng-deep .mat-dialog-container {
  box-shadow: none !important;
}
